<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
        <script type="text/javascript">
            console.log("<%= name == :notice ? "success" : "error" %>");
            Alertify.log.<%= name == :notice ? "info" : "error" %>("<%= msg %>", 2000);
        </script>
  <% end %>
<% end %>


<!-- 
    <div class="alert alert-<%#= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%#= content_tag :div, msg, :id => "flash_#{name}" %>
    </div> -->



